/**************************** Tag Selectors ****************************/
body {
  background-color: #F4F9F9;
}

h1 {
  color: #04009A;
}

h3 {
  color: #5800FF;
}

hr {
  border-style: none;
  border-top-style: dotted;
  border-color: grey;
  border-width: 3px;
  width: 5%;
}

/**************************** Class Selectors ****************************/



/**************************** ID Selectors ****************************/
